{% extends 'core/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'core/css/Contato.css' %}">
{% endblock extrahead %}


{% block content %}
<!-- templates/contato/contato.html -->
    <h1>Fale Conosco</h1>

    {% if messages %}
        {% for message in messages %}
            <p style="color:green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>

{% endblock %}