{% extends 'core/base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'core/css/Contato.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
{% endblock extrahead %}

{% block content %}

<div class="container">
    <img src="{% static 'core/images/LogoLogin.png' %}" class="contato-imagem" alt="Logo Contato">
    <h1>Fale Conosco</h1>

    {% if messages %}
    <div class="message">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="contato-grid">
        <div class="contatos">
            <h2>Entre em contato</h2>
            <ul class="redes-sociais">
                <li><a href="#"><i class="fas fa-envelope"></i> grupofaculpji@gmail.com</a></li>
                <li><a href="https://www.instagram.com/melodiamagicabj/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="https://www.facebook.com/melodiamagicabj/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=5521970000000" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
            </ul>
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"><i class="fas fa-paper-plane"></i> Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
