is.html

{% extends 'core/base.html' %}
{% load static %}

{% block title %}Níveis - Melodia Mágica{% endblock %}

{% block content %}

<!-- Link para o CSS externo -->
<link rel="stylesheet" href="{% static 'core/css/Niveis.css' %}">

<div class="parent">
    {% for quiz in quizzes %}
    <div class="card" onclick="location.href='{% url 'game_page' quiz.id %}';">{{ quiz.nivel_dificuldade }}</div>
    {% endfor %}
</div>

<!-- Script JS para o carrossel 3D -->
<script src="{% static 'core/css/niveis.js' %}"></script>

{% endblock %}
