/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* O corpo vai ocupar 100% da altura da tela */
}

body {
  font-family: 'Orbitron', 'Poppins', sans-serif;
  color: #ffffff;
  background: #000;
  display: flex;
  flex-direction: column; /* Organiza o layout em coluna */
  justify-content: space-between; /* Faz o conteúdo ocupar o espaço disponível e empurra o footer para baixo */
}

/* ANIMAÇÃO DE FUNDO INTERATIVO - GRADIENTE */
body {
  background: #000;
  background-size: 400% 400%;
  animation: gradientAnimation 18s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background: radial-gradient(circle, #0f0c29, #302b63, #000000);
  }
  25% {
    background: radial-gradient(circle, #19302d, #007cf0, #000000);
  }
  50% {
    background: radial-gradient(circle, #302b63, #2e776f, #0f0c29);
  }
  75% {
    background: radial-gradient(circle, #007cf0, #302b63, #00ffe0);
  }
  100% {
    background: radial-gradient(circle, #0f0c29, #302b63, #000000);
  }
}

/* Footer dos Desenvolvedores */
.developer-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffff00;
  padding: -10px ;
  text-align: center;
  color: #fbfbfb00;
}

.developer-profiles {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.developer-profile {
  text-align: center;
  max-width: 150px; /* Limita o tamanho máximo de cada perfil */
  flex: 1 1 200px; /* Flexível, mas com largura mínima */
  margin-bottom: 20px;
}

.developer-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

.developer-profile:hover .developer-img {
  transform: scale(1.05);
}

.developer-name, .developer-role {
  color: #fff;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.developer-role {
  font-size: 0.9rem;
  color: #aaa;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .developer-profiles {
    flex-direction: column;
    align-items: center;
  }

  .developer-img {
    width: 100px;
    height: 100px;
  }

  .developer-name {
    font-size: 0.9rem;
  }

  .developer-role {
    font-size: 0.8rem;
  }
}
